/* ── Usage page extras ── */
@media(max-width:767px){
  #historyBody{min-width:550px}
  #loginTable td:nth-child(3){max-width:140px;white-space:normal;word-break:break-word}
  #loginTable{min-width:650px}
  #loginTable td:nth-child(4){white-space:nowrap;padding-right:0.15rem}
  #loginTable td:nth-child(5){white-space:nowrap;padding-left:0.15rem}
}

/* Usage section visible by default */
#section-usage{display:block}
