fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
pydantic
pydantic-settings
aiosqlite
psycopg2-binary
requests
stripe
paystack-python
slowapi
